@import 'global';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/print';

// @import '~bootstrap-vue/src/index.scss';

// Customize Bootstrap Components Style
// (copy from node_modules/bootstrap/scss folder
// @import "_spinner";

#app {
  width: 100%;
  font-family: 'Aloes-Rg';
  font-size: $font-size-base;
  color: $primary;
  background: $light-grey;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #app {
    font-size: $font-size-mobile !important;
  }
}
