#tooltipContainer {
  min-width: 50%;
  min-height: 40%;
  border-radius: 3px;
  background: rgba(255, 255, 255, 01);
  color: #000;
  z-index: 2000 !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(200, 200, 200, 0.85);
  text-align: center;
}

#tooltip {
  text-align: center;
  z-index: 1000;
  position: absolute;
  display: block;
  /*  max-height: 70px;
*/
}

#tooltip .title {
  color: #686868;
  font-family: "Aloes-Bd";
  margin-bottom: 3%;
  text-transform: uppercase;
}

#tooltip .description {
  color: #686868;
  text-align: justify;
}

#tooltip .pics {
  min-width: 50%;
  min-height: 40%;
  object-fit: cover;
}

#tooltip .tags {
  margin-top: 3%;
  color: #33b277;
  text-align: justify;
  text-transform: lowercase;
}

#tooltip .description {
  margin-top: 3%;
  font-size: 90%;
}

#tooltip .tags {
  font-size: 85%;
}

.drag-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #33b277;
  position: absolute;
  font-size: 1rem;
  top: 0.5%;
  right: 4%;
}

.drag-button:hover {
  position: absolute;
  font-size: 1rem;
  cursor: pointer;
}

.close-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #33b277;
  position: absolute;
  font-size: 1rem;
  top: 0.5%;
  right: 0.5%;
}

.close-button:hover {
  font-size: 1rem;
  color: #33b277;
  cursor: pointer;
}

.pop {
  top: 80px;
}
