@import 'global';

#vis {
  width: 100%;
  min-height: 100vh;
}

.svg-container {
  display: table;
  margin-top: 5%;
}

.texts text {
  font-size: 12px;
}

#gallery {
  position: relative;
  top: 5%;
  z-index: 1000;
  .title {
    text-align: center;
    text-transform: uppercase;
    color: #686868;
    font-size: 100%;
    margin-bottom: 1%;
  }
  .desc {
    text-align: center;
    text-transform: lowercase;
    color: #686868;
    font-size: 90%;
  }

  .img-open {
    position: relative;
    border-radius: 4px;
    height: 60%;
    width: 100%;
    box-shadow: 4px 4px 6px $dark-grey;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 580px) {
  .img-open {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 4px;
    max-height: 180px;
    width: auto;
    max-width: 100%;
    box-shadow: 4px 4px 6px $dark-grey;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-device-height: 850px) and (max-device-width: 440px) and (min-device-width: 300px) {
  .img-open {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    max-height: 180px;
    max-width: 100%;
    box-shadow: 4px 4px 6px $dark-grey;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .img-open {
    position: relative;
    max-height: 50%;
    max-width: 100%;
    box-shadow: 4px 4px 6px $dark-grey;
  }
}
