@import 'global';

#top-nav {
  .dropdown-item {
    background-color: white;
    border: 0px;
    border-color: $warning;
    color: $info;
  }

  .dropdown-item.router-link-exact-active {
    background-color: transparent;
    border: 1px;
    border-color: $warning;
    color: $primary;
  }

  .dropdown-item:focus {
    background-color: white;
    border: 1px;
    border-color: $warning;
  }

  .dropdown-item:hover {
    background-color: transparent;
    border: 1px;
    border-color: $warning;
  }

  .logo {
    height: 45px !important;
    opacity: 0.8;
  }

  .page-title {
    position: relative;
    width: 100%;
    vertical-align: middle;
    margin-top: 8%;
    margin-bottom: -5%;
    text-align: center;
  }

  .on path {
    fill: $success !important;
    opacity: 0.7;
  }

  .off path {
    fill: $warning !important;
    opacity: 0.6;
  }
}

#links {
  display: block;
  width: 300px;
  height: 40px;
  position: relative;
}
