:root {
  --getlarge-bluegrey: #2B3A42;
  --getlarge-green: #679A13;
  --getlarge-blue : #13679A;
  --getlarge-orange : #F0982B;
  --getlarge-red: #F24711;
  --getlarge-yellow: #fecf10;
  --getlarge-grey: #d6d6d6;
  --getlarge-black: transparent;
}


